<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h3>Edit your listing </h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
             <input name="listing[title]" value="<%=listing.title %>" type="text" class="form-control">

        </div>
        <div>
                        <label for="description" class="form-label">Description</label>
                                <textarea name="listing[description]"><%=listing.description %></textarea>

        </div>
        <div>
                     <label for="image" class="form-label">Image Link</label>
         <input name="listing[image]" value="<%=listing.image %>"type="text" class="form-control">

        </div>
        <div>
                                 <label for="price" class="form-label">Price</label>


            <input name="listing[price]" value="<%=listing.price %>" type="Number" class="form-control">
        </div>
        <div>
             <label for="location" class="form-label">Location</label>
              <input name="listing[location]" value="<%=listing.location %>"type="text" class="form-control">

        </div>
        <div>
                 <label for="country" class="form-label">Country</label>
                 <input name="listing[country]" value="<%=listing.country %>" type="text">
         </div>
         <br><br>

       
        
         
         
         
        <button class="btn btn-dark edit-btn">Edit</button>
    </form>
    
</body>
</html>  